@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans Narrow"), local("PTSans-Narrow"), url("fonts/ptsansnarrow.woff2") format(woff2), url("fonts/ptsansnarrow.woff") format(woff);
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Narrow Bold"), local("PTSans-NarrowBold"), url("fonts/ptsansnarrow.woff2") format(woff2), url("fonts/ptsansnarrow.woff") format(woff);
}

body {
  font: bold 14px/24px "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #000000;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a:active,
.user-navigation a:hover,
.user-navigation a:focus,
.user-navigation a:active {
  background-color: #242424;
}

.main-container {
  color: #000000;

  background-color: #f4f3ec;
  background-position: 0 0;
  background-image: url("../img/features-bg.jpg");
  background-repeat: repeat;
}

.main-container h1 {
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  line-height: 20px;

  list-style: none;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs .active {
  color: #aba9a7;
}
